.address-box{
    width: 85%;
    background-image: url("../images/address-boxphoto.png");
    background-size: cover; 
    /* background-position: center;  */
    background-repeat: no-repeat;
    border-radius: 50px;
    margin-top: 30px;
    box-shadow: 1px 120px 1px -1px #e1e1e1;
}
.call-box{
    width: 26%;
    background-color: green;
    /* padding: 4%; */
    border-radius: 55px;
}
.locationround{
    width: 96px;
    height: 85px;
    background-color: white;
    border-radius: 50%;
    margin-top: -68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addressboxpara{
    font-size: 16px;
    margin-bottom: 0;
}
.telephonesizing {
    font-size: 25px;  /* For text or icon size */
}
.contactus-box{
    margin-top: 10%;
}
.addressboxrow{
    margin-top: -18%;
}
.address-textbox{
    width: 80%;
}
.enjoyup{
    margin-top: 10%px;
}
.locationinnerround{
    width: 80%;
    border-radius: 50%;
    height: 80%;
    background-color: blue;
}
.easytext{
    font-size: 14px;
    margin-bottom: 0;
    font-weight: bold;
}
.easytexttwo{
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: bold;
}
.contactustext{
    margin: 0;
    color: #eeae0c;
    font-size: 45px;
    font-weight: 100;
    font-family: 'Bevan';
    margin-top: 10px;
}
.contactuscalltext{
    font-size: 22px;
    color: white;
}



@media (max-width: 1280px) { 
    .addressboxpara {
        font-size: 13px;
        margin-bottom: 0;
    }
  }


  @media (max-width: 1280px) { 
    .contactus-box {
       
    }
    .address-box {
        width: 96%;
        
    }


    
  }

  @media (max-width: 769px) { 
    .contactus-box {
       
    }
    .address-box {
        width: 100%;
        
    }
    .contactustext{
        font-size: 30px;
    }
    .contactusparatext{
        font-size: 13px;
    }
    .call-box{
        width: 28%;
    }
    .contactus-box{
        padding: 1% !important;
    }
    .addressboxpara {
        font-size: 12px;
        margin-bottom: 0;
    }
    .call-box{
        width: 100% !important;
    }
    .contactus-box{
        padding: 10% !important;
    }

    
  }
  @media (max-width: 426px){
    .contactus-box{
        padding: 10% !important;
    }
    .call-box {
        width: 30%;
    }
    .locationround {
        width: 63px;
        height: 68px;
    }
  }