@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');


.home-feed{
    
    height: 530px;
    background-color: #f8f7f3;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center;
}
.get-started {
    /* position: absolute;  
    top: 35%;  
    left: 50%; 
    transform: translate(-50%, -50%);  */
    margin-bottom: 50px;
    margin-top: 70px;
}
.print-shirt{
    margin-bottom: 16px;
    margin-top: 10px;
    color: #a2a2a2;
    font-size: 17px;
}
.unique-style {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 58px;
}
.mailboxrow{
    margin-left: 10%;
}

.letstalkimageone {
    width: 112%;
    bottom: 0 !important;
}

.start-btd{
    width: 150px;
    border-radius: 30px;
    height: 35px;
    /* background-color: #a2a2a2; */
    background-color: 	#FFB400;
    /* border: 1px solid #d3d3d3; */
    border: none;
    color: white; 
    font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
}
.start-btd:hover{
    background-color: #f2b201;
    transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.photo-box {
    width: 100%;
    /* height: 250px; */
    background-color: #f8f7f3;
    /* margin-top: 180px; */
   
    
  }
  .slick-slider {
    width: 100%;
    margin: auto;
    
  }
  
  .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    
  }

  .inner-box{
    
    width: 265px; 
    height: 304px;
    background-color: antiquewhite;
    border: none;
    border-radius: 20px;
 
  }
  .logo-imgone {
    width: 100%;
    height: 304px;
    border-radius: 20px;

}
.logologo-imgone{
    border-radius: 20px;
    width: 98%;
}
.offset-text{
    /* width: 100vw; */
    margin-bottom: 30px;
    margin-top: 90px;
}
.design-box{
   
    width: 100%;
    background-color: #ffffff;
    /* display: flex; */
    
    

    
}
.text-secondary {
    color: #a2a2a2;
    align-items: flex-start;
  }
.img-container{
    position: relative;
}
.design-text {
    padding-left: 6% !important;
}
.design-text-2{
    padding-right: 8% !important;
    display: flex !important;
}
.design-text h1,
.design-text text {
   
    margin: 5px 0; 
    text-align: left; 
}

.design-text h1,
.design-text text {
  
    align-items: center; 
    gap: 5px; 
}
.start-btd-1{
    width: 150px;
    
    height: 35px;
    background-color: #ffd401 !important;
   border: none;
   
    
    font-weight: bold; 
    margin-top: 10px;
    border-radius: 30px !important;
    cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: blue;

    
}
.start-btd-1:hover{
    background-color: #ffd401 !important;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    
}

.image-1{
    
   
    background-color: white;
    /* margin-right: 18%; */
    width: 400px;
    height: 400px;
    border: 5px solid yellow;
    border-radius: 30px;
}
.image-2{
    left: 9%;
    bottom: -3%;
    position: absolute;
    
    width: 260px;
    height: 270px;
    border: 5px solid yellow;
    border-radius: 30px;

}
.footer-img{
    width: 44%;
}

.offer-box {
    
   
    background-color: #f4f4f4;  
    margin-top: 7% !important;
    

    
}
.shopnow{
   
    border-radius: 0 60px 60px 0;
    background-image: url("../images/About-us5.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 0;
    padding: 1% !important;
    
  
    
}
.shopnow-one{
    /* margin-right: -218px; */
}
.shopnow div {
    display: flex;
    flex-direction: column;
    
    /* align-items: center;  */
}
.explore {
    
    border-radius: 60px 0px 0px 60px;
    background-image: url("../images/About-us5.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 0;
    flex: row;
    padding: 1% !important;
    
   
    
}
.circle-check{
    width: 40px;
    height: 30px;
}
.explore-gapfix{
    /* margin-right: 138px; */
}
.quality-box{
    margin-top: 45px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
  
    background-color: #ffffff;
    box-sizing: border-box;
}
.verify-photo-box{
    height: 100%;
  width: 100%;
  position: relative;
}
.verify-photo-img {
   
    position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 78%; /* Or whatever width you want */
  height: auto;
    
  }
  .verifyimagebox{
    margin-top: 10% !important;
  }
.servicesbox{
    width: 83%;
    
    background-color: #ffffff;
    display: flex;
    flex-direction: column; /* Stack rows vertically */
    /* justify-content: space-between;  */
    gap:30px;
    box-sizing: border-box;
}
.rowone {
    display: flex;
    gap: 10px;/* Space evenly between boxes */
    box-sizing: border-box;
}

.box {
    width: 23%;
    height: 219px;
    background-color: white;
    border: none;
    border-radius: 20px;
   
    display: flex;
    flex-direction: column; /* Stack image, heading, and text vertically */
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}
.shippingrow {
    width: 96% !important;
}
.box:hover{
    background-color: #0066cb;
    
}

.box-image {
    width: 90px; 
   
    margin-bottom: 5px;
    transition: filter 0.3s ease;
    
}
.box:hover .bortexthead{
    color: #f2b201;
}

.box:hover .bortextone {
    color: white;
}
.bortextone {
    color: #a2a2a2;
    font-size: 15px;
    /* max-width: 90%; */
    display: block;
    transition: color 0.3s ease-in-out;
    margin: 0px;
}
.bortexthead {
    margin: 10px 0;
    color: blue;
    font-size: 24px;
    text-align: center;
    transition: color 0.3s ease-in-out;
}
/* 
.box:hover h2 {
    color: #c8a03b; 
}
.box:hover .box-text {
    color: white; 
} */
.verify-photo{
    
    
    
    background-color:  white;
    display: flex;
   
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
    
}
.verify-photo-box{
     
     background-color: white;
}
.verify-photo-text{
    width: 47%;
     /* height: 50%; */
     /* margin: 60px; */
     
     background-color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-between;

}
.verify-photo-image{
    width: 500px;
    height: 500px;
}
.m-box{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.first-box{
 width: 200px !important;

 background-color: #ababab;
 border-radius: 15px;
 flex-direction: column; /* Stacks elements vertically */
 align-items: center; /* Centers content horizontally */
 justify-content: center; /* Centers content vertically */
 text-align: left; 
 padding: 10px;

}
.first-box h4, 
.first-box text {
    margin: 0; 
    padding: 0;
    font-size: 14px; 
    
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds "..." if text is too long */
}
.we-work-box{
    width: 100%;
    /* height: 500px; */
    background-color: #f8f8f8;
    display: flex;
  
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
}
.your-style{
    width: 100%;
    height: 29%;
    background-color:  #f8f8f8;
    
   
   
}
.your-print{
    /* width: 24%; */
    background-color: #f8f8f8;
    /* display: flex;
    flex-direction: column;
    
    align-items: center; */

}

.yourstyle-box{
    width: 90%;
    height: 50px;
    background-color: #0051c5;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-bottom: -24px;
    border: 5px solid white;
    
}
.rating{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 220px;
}
.comment-box{
    /* width: 75%; */
    /* height: 134px; */
    background-color: white;
    display: flex;
    margin-top: 22px;
    gap: 15px;
    /* margin-left: 60px; */

}
.comment-lines{
    width: 100%;
    height: 246px;
    padding-bottom: 18px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
   
}

.profile-name{
    
    display: flex;
    /* width: 100%; */
    /* height: 70px; */
    background-color: white;
    margin-top: 20px;
    border-radius: 15px;
}
.profile-about{
    margin-left: 18px;
    width: 90%;
    /* height: 115px; */
    background-color: white;
    margin-top: 5px;
    
    display: "flex"; 
    align-items: "flex-start";
    justify-content: flex-start;
    text-align: left;  
    
}
.createstyleflex{
    display: flex;

}
.profile-icon{
    margin-left: 17px;
    width: 16%;
   
    border-radius: 50%;
    background-color: #ababab;
}
.mailbox{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
   
    
    
  
    
}
.image-container {
   
    position: relative;
}
.image-container img {
    /* width: 350px; */
    position: absolute;
    top: -50px; 
    right: 0;
    z-index: 1;
}
.mailbox-divider {
    width: 100%;
    
    background-image: url("../images/foot1.png");
    background-position: center;
    background-repeat: no-repeat;
 
}
.text-divider{
    display: flex;
    flex-direction: column;
    /* width: 50%; */

}
.wegottext{
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}
.combos{
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    font-size: 21px; 
    font-weight: bold;
    margin-top: 2px;
    color: white;
}
.toolsbox{
    width: 100%;
    background-color: white;
    display: flex;
    
    /* height: 100px; */
    margin-top: 20px;
}
.shipping{
    /* width: 82%; */
    display: flex;
    /* margin-top: 95px; */
    background-color: #efefef;
    
    
    justify-content: space-around; 
    /* padding-bottom: 40px; */
}
.shippingdivider{
    /* width: 15%; */
    /* height: 150px; */
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.social{
    background-color: #1d1d1d;
    /* display: flex;
    justify-content: center; */
}
.sociladivider{
    /* width: 70%;
    display: flex;
    justify-content: space-around; */
    
}
.socialone{
    height: 65px;
    width: 20% !important;
    background-color: #1d1d1d;
  
    /* align-items: center;
    display: flex;
    justify-content: center; */
}
.socialone:hover{
    background-color: #0066cb;
}
.footerone{
    /* width: 100%; */
    /* margin-bottom: 500px; */
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.footerdetails{
    /* display: flex;
    justify-content: center; */
    /* gap: 100px; */
    width: 100%;
    padding-top: 100px;
   
} 
.getintouch{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
.phonedetail{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.emailbox{
    width: 428px;
    height: 42px;
    margin-top: 45px;
    background-color: #1d1d1d;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8a8a8a;
}
.footersocial{
    
   
    height: 40px;
    background-color: #000000;
    
    margin-bottom: 35px;
    width: 84% !important;
  
    
    
}
.footersocial1{
    display: flex;
    align-items: center;

}
.footer2{
    display: flex;
    /* margin-bottom: 30px; */
    background-color: #c8a03b;
    justify-content: center;
    /* margin-top: 10px; */
}

.box:hover img {
    filter: brightness(0) saturate(100%) invert(75%) sepia(100%) saturate(300%) hue-rotate(0deg);
  }
  .heading-text {
    margin: 0;
    color: #eeae0c;
    font-size: 45px;
    font-weight: 100;
    font-family:  'Bevan';
    margin-top: 10px;
}
.heading-textone {
    margin: 0;
    color: #eeae0c;
    font-size: 45px;
    font-weight: 100;
    font-family:  'Bevan';
    margin-top: 28px;
}
.heading-text-two {
    margin: 0;
    color: #0066cb;
    font-size: 45px;
    font-weight: 100;
   
    
    font-family: 'Bevan';
}

.explore-image{
   
    position: absolute;
    width: 19%;
    
    left: 7%;
    bottom: 0;
} 
.shopnow-image{
    
    width: 19%;
    position: absolute;
    
    bottom: 0;
    right: 10%;
  }
/* .explore-image {
    height: 210px;
    width: 250px;
    position: relative;
    right: 95%;
    top: 30%;
} */
.slick-dots {
    position: absolute;
    bottom: -37px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
  
.register-text{
    /* margin: 7px 7px 7px 145px; */
    
    color: rgb(75, 75, 72);
}
.combos-divider{
    display: flex;
    gap: 10px;
    /* margin: 7px 7px 7px 174px; */
    
}
.mailbox-main-image{
    align-items: flex-end;
    height: 631px;
    width: 500px;
    position: absolute;
    bottom: 0px;
    left: 10%;
    
    
}
.followuson{
    font-size: 20px;
}
.text-secondary{
    font-size: 25px;
}
.marqueetext{
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: rgb(162, 162, 162);
}
.comment-lines{
    height: 226px;
}
.shippingimagefix {
    width: 29%;
    height: 50%;
    color: green;
    margin-top: 20px;
}
.offerboxparatext{
    font-size: 20px;
}
.shippingtextfix{
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.elastix-text {
    font-size: 20px;
    font-weight: 500;
}
.mailbox-arrow{
    margin-left: -45px;
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
    color: #0151c5;
}
.savingscombostext{
    margin: 7px;
    margin-top: 12px;
}
.mailbox-mailinput{
    
    width: 390px;
    border: none;
   
    height: 47px;
    border-radius: 24px;
    margin-top: 13px;
}
.howweworktext{
    text-align: center;
    font-size: 20px;
    color: #a2a2a2;
}

.box-innersize{
    padding: 6px;
}

.email-input-container {
    position: relative;
    display: inline-block;
  }
  
  .emailbox {
    padding-right: 2.5rem; /* Space for the arrow */
  }
  
  .email-input-container span {
    position: absolute;
    right: 0.75rem;
    top: 73%;
    transform: translateY(-50%);
    pointer-events: none; /* Makes the icon non-interactive */
  }







@media screen and (max-width: 1024px) {
    .inner-box{
    width: 180px !important; 
    height: 250px;
    }
      .logo-imgone {
        height: 275px;
    }
    .image-1{
        height: 430px;
        width: 300px;
        margin-right: 2%;
    }
    .letstalkimageone {
        width: 145%;
        bottom: 0px !important;
    }
    .image-2 {
        left: 9%;
        bottom: 14%;
        width: 245px;
        height: 243px;
    }
    .design-text-2{
        padding-top: 4% !important;
        display: flex !important;
    }
    .verify-photo-img {
       
        width: 103%;
        
    }
   
    .shopnow-one{
        margin-right: 180px;
    }
    .shopnow-image{
        width: 27%;
    }
    .explore-gapfix{
       margin-left: 14% !important;
        
    }
    .explore-image {
        width: 27%;
    }
    .servicesbox{
        width: 95%;
        gap: 40px;
    }
    .bortexthead {
        
        font-size: 19px;
        
    }
    
    .yourstyle-box{
        width: 100%;
    }
    /* .register-text{
        margin-left: 12px;
    } */
    .combos-divider{
        margin-left: 30px;
    }
    .mailbox-main-image{
        top: -87px;
        left: 1%;
    }
    /* .shippingdivider{
        width: 16%;
    } */
    
    .emailbox{
        width: 200px;
    }
    .address-fix{
       
        /* margin-left: 5px; */
    }
    .footersocial{
        margin-left: -40px;
        width: 79%;

    }
    .comment-box{
        /* width: 89%; */
    }
    
    .verify-photo-image {
        width: 363px;
        height: 500px;
    }
    .verify-photo-text {
        width: 60%;
    }
    .verify-photo {
        /* width: 100%; */
       
        justify-content: start;
    }
    .box-image {
        width: 65px;
        margin-bottom: 5px;
        transition: filter 0.3s ease;
    }
    .first-box {
        width: 135px !important;
        height: 170px !important;
    }
    .designboxhead{
        font-size: 33px !important;
    }
    
  }

 

@media screen and (max-width: 768px) {

    .letstalkimageone{
        display: none !important;
    }
    .verify-photo-img {
       
        width: 66%;
        
    }
    .verifyimagebox {
        margin-top: 76% !important;
    }

    .bortextone {
        white-space: normal; /* allow text to wrap into multiple lines */
      }
      .heading-text {
        
        font-size: 33px !important;
        
    }
    .heading-textone {
        
        font-size: 33px;
        
    }
    .shippingimagefix {
        width: 11%;
        height: 50%;
        color: green;
        margin-top: 20px;
    }
    .heading-text-two{
        font-size: 33px !important;
    }

    .comment-lineone{
        margin-top: 10px;
    }
    .your-printone{
        margin-top: 50px !important;
    }
    .first-box {
        width: 198px !important;
        height: 144px !important;
    }
    .box-image {
        width: 89px;
        margin-bottom: 0px;
        
    }
    .bortexthead {
        margin: 1px 0;
        
        font-size: 22px;
        
    }
    
  .inner-box{
    
    width: 216px; 
    height: 220px;
 
  }
  .design-box .row {
    flex-direction: column;
  }
  .hide-on-768 {
    display: none !important;
    
  }
  
  .design-text,
  .design-text-2 {
    width: 100%;
    text-align: center;
    align-items: center;
  } 

   .design-text-2 img {
    max-width: 80%;
  }
  .image-1 {
    height: 267px;
    width: 320px;
    margin-right: 17%;
}
.image-2 {
    left: 17%;
    bottom: -11%;
    width: 228px;
    height: 210px;
}
.explore{
    margin-top: 7% !important;
    border-radius: 60px 60px 60px 60px !important;
}
.shopnow{
    border-radius: 60px 60px 60px 60px !important;
}
.shopnow-image {
    width: 17%;
    right: 21%;
}
.explore-image {
   width: 17%;
   left: 21%;
   
}
.text-secondary {
    font-size: 20px;
}
.servicesbox {
    width: 69%;
    gap: 40px;
}
.howweworktext {
    text-align: center;
    font-size: 17px;
    color: #a2a2a2;
}



  }


  @media screen and (max-width: 426px) {
    .your-printone{
        margin-top: 50px !important;
    }
    .get-started {
        margin-bottom: 50px;
        margin-top: -116px;
    }
    .unique-style {
        font-family: "Poppins", sans-serif;
        margin-bottom: 0px;
        font-size: 3rem;
        font-weight: bold;
        margin-top: 102px;
    }
    .your-printtwo{
        margin-top: 50px !important;
    }
    .first-box {
        width: 129px !important;
        height: 161px !important;
    }
    .designboxhead{
        font-size: 30px !important;
    }
    .inner-box {
      width: 116px; 
      height: 180px ;
      
    }
    .offerboxparatext{
        font-size: 17px;
    }
    .text-secondary {
        font-size: 17px !important;
    }
    .heading-text {
        font-size: 22px !important;
    }
    .heading-text-two {
        font-size: 22px !important;
    }
    .heading-textone {
        font-size: 22px;
    }
    .mailbox-mailinput {
        width: 248px;
        
    }
    .elastix-text {
        font-size: 15px;
        
    }
    .bortexthead {
        margin: 1px 0;
        font-size: 15px;
    }
    .home-feed {
        height: 470px;
        
    }
    .box {
        
        height: 149px;
    }
    .shopnow-image {
        width: 30%;
        right: 9%;
    }
    .bortextone {
        font-size: 13px;
    }
    .servicesbox {
       
        gap: 1px;
    }
    .marqueetext{
        width: 100%;
        text-align: center;
        font-size: 21px;
        color: rgb(162, 162, 162);
    }
  
    .logo-imgone {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ensures images fit inside the box */
    }
    .image-1 {
        height: 232px;
        width: 241px;
        margin-right: 4%;
    }
    .image-2 {
        left: 12%;
        bottom: -20%;
        width: 163px;
        height: 166px;
    }
    .explore{
        margin-top: 14% !important;
        border-radius: 30px 30px 30px 30px !important;
    }
    .shopnow{
        border-radius: 30px 30px 30px 30px !important;
    }
    .socilaheader{
        font-size: 17px !important;
    }
    .explore-image {
        
        left: 2%;
        width: 30%;
    }
    .combos {
        width: 35px !important;
    }
    .savingscombostext{
        margin-top: 7px !important;
        margin-left: -3px;

    }
    .combos-divider {
        margin-left: 11px;
    }
    .wegottext {
        
        font-size: 13px !important;
        
    }
    .shippingimagefix {
        width: 23%;
        height: 32%;
        
    }
    .shippingtextfix {
        
        font-size: 11px;
        
    }
    .shippingtextfixone {
        
        font-size: 11px;
        
    }
    .howweworktext {
        text-align: center;
        font-size: 16px;
        color: #a2a2a2;
    }
    .footer-img { width: 100%; }
  }


  @media screen and (max-width: 376px){
    .first-box {
        width: 144px !important;
        height: 126px !important;
    }
    .savingscombostext {
        margin-top: -2px !important;
        margin-left: -3px;
    }
    .text-divider{
        padding: none;
    }
    .mailbox-mailinput {
        width: 210px;
        height: 31px;
    }
    .mailbox-arrow {
        margin-left: -34px;
        width: 24px;
        
    }
    .followuson{
        font-size: 14px;
    }
    .howweworktext {
        text-align: center;
        font-size: 14px;
        color: #a2a2a2;
    }
   
    
    .designboxpara {
        font-size: 12px !important;
    }
    .socilaheader{
        font-size: 19px !important;
    }
    .socialtexts{
        font-size: 10px !important;
    }
    .shopnowpercentage{
        font-size: 18px !important;
    }
    .shopnowparatext{
        font-size: 12px !important;
    }
    .start-btd-1 {
        width: 110px !important;
        height: 33px !important;
        margin-left: 8%;
    }
    .shopnow-image {
        right: 19%;
        width: 105px !important;
    }
    .explore-image {
        left: 9%;
        width: 95px;
    }

  }

  @media screen and (max-width: 321px){
    .socilaheader{
        font-size: 19px !important;
    }
    .socialtexts{
        font-size: 10px !important;
    }
    .explore-gapfix {
        margin-left: 30% !important;
    }

    .heading-text {
        font-size: 20px !important;
    }
    
    .designboxpara{
        font-size: 15px !important;
    }
    .box-image {
        width: 63px;
        margin-bottom: 0px;
    }
    .designboxpara {
        font-size: 12px !important;
    }
    .first-box {
        width: 144px !important;
        height: 115px !important;
    }
    .bortexthead {
        margin: 1px 0;
        font-size: 10px;
    }
    .bortextone {
        font-size: 9px;
    }
    .box{
        height: 25% !important;
    }
    .offerboxparatext {
        font-size: 12px;
    }
    .comment-lines { height: 280px; }
    .profile-icon { margin-left: 17px; width: 53%; border-radius: 50%; background-color: #ababab; }

  }