.product-imageful{
    /* height: 60%; */
    height: 450px;
    width: 100%;
    background-color: bisque;
    overflow: hidden;
    position: relative;
}

.product-imageful img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    object-fit: contain;

  }


  .productpage-box{
    gap: 10%;
  }
  .cart-box{
    gap: 5%;
  }

  .buynow-btn{
    border-radius: 10px;
    border: 1px solid blue;
   
    background-color: blue;
  color: white;
  transition: all 0.3s ease;
  }
  .addtocart-btn{
    border-radius: 10px;
    border: 1px solid blue;
   
    background-color: blue;
    color: white;
  transition: all 0.3s ease;
  }



  .active-btn {
    background-color: transparent;
    color: black;
  }